<section
  *ngIf="beer | async as beer"
  class="px-2 py-1 flex mt-2 container mx-auto"
>
  <div *ngIf="beer.loading">Loading...</div>
  <div *ngIf="beer.error"> An error has occured</div>
  <ng-container
    *ngIf="beer.data as data"

  >
    <div class="border-r w-64">
      <img
        class="h-96 mx-auto"
        [src]="data.image_url"
        alt="beer image"
      >
    </div>

    <div class="pl-6">
      <ng-container *ngTemplateOutlet="fragment; context: { title: 'Name', value: data.name }"></ng-container>
      <ng-container *ngTemplateOutlet="fragment; context: { title: 'Description', value: data.description }"></ng-container>
      <ng-container *ngTemplateOutlet="fragment; context: { title: 'Tagline', value: data.tagline }"></ng-container>

      <div
        *ngIf="data.ingredients as ingredients"
        class="mt-3"
      >
        <strong>Ingredients:</strong>

        <h2 class="mt-1">Hops:</h2>
        <div *ngFor="let hops of ingredients.hops">
          <span class="pl-4">{{hops.name}}</span>
        </div>

        <h2 class="mt-1">Malt:</h2>
        <div *ngFor="let malt of ingredients.malt">
          <span class="pl-4">{{malt.name}}</span>
        </div>
      </div>
    </div>

  </ng-container>
</section>

<ng-template
  #fragment
  let-title="title"
  let-value="value"
>
  <div class="mt-1">
    <h3 class="font-semibold">{{title}}:</h3>
    <span class="pl-2">{{value}}</span>
  </div>
</ng-template>
