<nav class="bg-white px-6 py-4 shadow">
  <div class="flex flex-col container mx-auto md:flex-row md:items-center md:justify-between px-6">
    <div class="flex items-center lowercase">
      <a
        [routerLink]="['beer']"
        class="text-gray-800 text-xl font-bold md:text-2xl hover:text-blue-800 transition transition-colors"
      >Beers</a>
      <a
        *ngIf="headerLink$ | async as headerLink"
        [routerLink]="headerLink.path"
        class="text-gray-800 text-xl font-bold md:text-2xl hover:text-blue-800 transition transition-colors"
      >
        <span class="px-0.5">/</span>{{headerLink.text}}
      </a>
    </div>

    <div class="md:flex flex-col md:flex-row md:-mx-4">
      <a
        [routerLink]="['beer', 'list']"
        class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0"
      >List</a>
    </div>
  </div>
</nav>
