<section class="flex">
  <div class="pl-2 pr-6">
    <img
      class="h-12"
      [src]="beer.image_url"
      alt="beer image"
    >
  </div>

  <div>
    <ng-container *ngTemplateOutlet="record; context: { title: 'name', value: beer.name }"></ng-container>
    <ng-container *ngTemplateOutlet="record; context: { title: 'tagline', value: beer?.tagline }"></ng-container>
  </div>
</section>

<ng-template
  #record
  let-title="title"
  let-value="value"
>
  <div>
    <small class="capitalize">{{title}}:</small>
    <span class="pl-2">{{value}}</span>
  </div>
</ng-template>
